<div class="row">
    <div class="col-md-12">
        <h2>Add Item</h2>
        <form method="post" action="/items/add" enctype="multipart/form-data">
            <!-- Form fields here, same as addItem.html -->
        </form>
    </div>
</div>
